[2018-07-06 16:31] bocklund opened #1 "SciPy is not imported, leading to errors in printing results"
`effmass/analysis.py` imports `integrate` by name, however the `mass_integration` function uses the qualified `scipy.integrate.quad`. This leads to an error in line `outputs.print_results(segments[-1], data, settings)`, which fails with the following traceback:

[code]

Fixing `scipy.integrate.quad` -> `integrate.quad` should fix this.

I also suggest writing a test for this code path.

(Part of h

[2018-07-06 16:38] bocklund commented on #1
Also affects the lines where optical mass is calculated in the Jupyter Notebook examples, e.g. `optical_mass_111 = [segments[-6].optical_effmass_kane_dispersion(fermi_level=data.CBM+burstein_moss_kane(x,average_mass,average_alpha),alpha=0.16/ev_to_hartree,mass_bandedge=0.155,upper_limit=0.1) for x in concentrations]`

[2018-07-09 18:40] lucydot commented on #1
Thank you for finding this bug @bocklund. I have fixed this as you suggested and have written [a test](https://github.com/lucydot/effmass/blob/a4658d1c200eb3f0f02550efe868d2b4d4b294fc/tests/test_analysis.py#L99-L102)  to catch similar failures in the future.

[2018-07-09 18:40] #1 closed

[2018-07-09 20:01] ajjackson opened #2 "Broken link to notebook from docs"
The link to the Jupyter example works on the README page, but fails from the homepage of the RTD manual (https://effmass.readthedocs.io/en/latest/). I'm not sure why, as the link in the actual README file looks fine?

My theories are
- there is some strange markdown conversion going on, or
- you fixed it already and the RTD build is stale.

[2018-07-10 09:51] lucydot commented on #2
Thanks for catching this @ajjackson , it was a missing `https://` causing the problem - link from RTD works for me now.

[2018-07-10 09:51] #2 closed

[2018-07-14 13:14] ajjackson opened #3 "Feature request: Printable representation of Segment"
It would be nice if Segment objects had a standard printable representation, such as `2.3 eV [0 0 0] -> [1 0 1]`. This can can be implemented by providing a `__str__` method. It would make it easier to keep track of them and work with them interactively. The method implied in the tutorial is to repeatedly call `plot_segments` until you're sure you have the index of the one you want.

[2018-07-14 13:22] ajjackson opened #4 "Broken link to data directory"
It wasn't too hard to find the sample data under paper/data, but the link from the Jupyter notebook is broken for me. I think it should be https://github.com/lucydot/effmass/tree/master/paper/data ?

http://github.com/lucydot/effmass/paper/data gets me a 404.

[2018-07-16 07:09] lucydot commented on #4
Thanks for spotting this, the link is fixed now.

[2018-07-16 07:09] #4 closed

[2018-07-16 15:16] lucydot commented on #3
Thanks for the suggestion - I've implemented this feature [here](https://github.com/lucydot/effmass/blob/55bfaf9d46d62fd9462dec03663d72cc6b4253b8/effmass/analysis.py#L116-L126) and a usage example is [in the notebook](https://github.com/lucydot/effmass/blob/master/paper/notebook.ipynb) (under 'Generate band segments').

[2018-07-16 15:16] #3 closed

[2018-07-16 18:31] ajjackson opened #5 "Partial occupancy problems"
The code seems to be quite sensitive to partial occupancies. My first attempt with a poorly-converged calculation raised some `vasppy` errors; I think it didn't like occupancy "-0.0000" but didn't quite get to the bottom of it. A healthier calculation with some slight partial occupancy is giving me:

[code]

How is a user meant to proceed from there? The docstring for a Segment gives
[code]
but th

[2018-07-16 18:33] ajjackson opened #6 "generate_segments docstring"
The docstring for `effmass.extrema.generate_segments` seems to be outdated:
[code]
There is no extrema_array argument?

[2018-07-23 09:34] lucydot commented on #6
Thanks @ajjackson I have updated the docstring [here](https://github.com/lucydot/effmass/blob/403ffe7ff2a14c6d6f1849f38e77ccaabbd63e69/effmass/extrema.py#L332-L342).

[2018-07-23 09:34] #6 closed

[2018-07-23 17:54] ajjackson opened #7 "Error loading a spin-polarised calculation"
I ran an LDA band structure for MgO. With no spin enabled it reads in ok, but when I set ISPIN=2 and recalculated the band structure effmass seems to have trouble reading the files.

Are spin-polarized calculations supported? I see that `effmass.inputs.Data` has an attribute for the number of spin channels, but I get an error while the object is being instantiated.

[spin_test.zip](https://github.

[2018-07-24 18:18] lucydot commented on #5
I've improved the error handling for partial occupancies so that it is clearer which steps to take [here](https://github.com/lucydot/effmass/blob/2b640a9d2cbae3474b61425ba52a090152012f44/effmass/analysis.py#L193-L194) and [here](https://github.com/lucydot/effmass/blob/9280b9ce32e80dc849364097cca24cc1308e7b8e/effmass/analysis.py#L275). I have also changed the attribute name, from `Segment.ptype` (o

[2018-07-24 18:24] lucydot commented on #7
I've made a couple of changes to the `effmass.inputs` module and the latest commit works for me on the data you have sent across. The read in errors were due to having two k-point blocks (one for spin up, one for spin down) in the PROCAR file when ISPIN=2. I should write some tests for spin-polarized calculations (SoC calculations are already supported and tested), but I will leave that for a late

[2018-07-24 18:31] lucydot opened #8 "`python setup.py` test fails"
`python setup.py` test fails with:
[code]

Tests are working correctly with `python -m pytest` as recommended by the README, but this might trip people up.

[2018-07-24 20:12] ajjackson commented on #5
That's great, makes it easy to fix up an ambiguous case!

I'm still having a bit of trouble reading the data in though. Here's my data: a PBE calculation on CdTe with a very small gap, and some broadening across the gap. When I try to generate_segments with modest settings it fails to find any of the valence band states. I can get them to appear if I set a large enough _extrema_search_depth_, but

[2018-07-24 20:43] ajjackson commented on #7
This is reading in for me now, but I'm not sure the results are consistent?

Here's a non-spin-polarised (closed-shell) calculation on the same system.  [test_mgo_nospin.zip](https://github.com/lucydot/effmass/files/2225297/test_mgo_nospin.zip)
(The setup was somewhat sloppy, so small differences are to be expected.)

Over the segment 5.33 eV [0. 0. 0.] -> [0.05 0.05 0.05] the _effmass_ methods al

[2018-07-28 17:45] lucydot commented on #5
I've improved the warning messages for partial occupancies - the key is to adjust the data.CBM and data.VBM, as these are determined from the occupancy.

This is the work flow I have in mind (I have tested for the data above, and it works for me with the latest commit to master).
1. instantiate settings object
2. instantiate data object. If there are partial occupancies, there is the following war

[2018-07-30 11:40] ajjackson commented on #5
That works for me, and seems a good solution to the problem!

[2018-07-30 11:44] ajjackson commented on #8
Possibly relevant? https://github.com/TvoroG/pytest-lazy-fixture/issues/24

[2018-07-30 12:55] lucydot commented on #7
Thanks for finding this problem @ajjackson - the latest commit on master has fixed it and results for the spin-polarised case are now consistent with Sumo (0.35 calculated by all three methods for 5.00 eV [0. 0. 0.] -> [0.025 0.025 0.025]). The problem arose partly because the data structures I am using are not ideal - a task on the todo list is to store the data in a pandas array rather than nump

[2018-07-30 15:05] ajjackson commented on #7
Great! That case looks good now.

I'm having trouble loading other cases though, with errors like:
[code]

That hard-coded "284" in _effmass.inputs_ looks suspicious, it's the same as the number of k-points in the test case!

[2018-07-30 17:05] lucydot commented on #7
Ah yes, and it slipped through testing as I've not any spin-polarised test cases yet - I'll fix it now.

[2018-07-30 17:12] lucydot commented on #7
I have removed the hard coded value for number of kpoints, and this latest commit works for me now on a different test calculation.

[2018-07-31 12:10] ajjackson commented on #7
I'm running into e.g.
[code]
when trying to instantiate `Data`

[ge-band-squash-split.zip](https://github.com/lucydot/effmass/files/2245211/ge-band-squash-split.zip)

[2018-08-01 09:11] lucydot commented on #7
This needs a test to catch mistakes - are you ok with me using the latest spin-polarised data you have posted as a test case?

[2018-08-01 11:55] lucydot commented on #7
Ok - with the latest commit to master you should be able to instantiate the Data class for spin-polarised cases. Also, Travis will  automatically test effmass for the Ge spin-polarised data.

[2018-08-03 15:12] ajjackson commented on #7
Looks good to me! It seems like a good idea to have test cases for all the various spin/SOC combinations.

[2018-08-06 10:42] #7 closed

[2018-11-09 18:14] lucydot opened #9 "Handling negative occupancy"
`effmass` should give a warning when there are negative occupancies generated from using the tetrahedron or MP-smearing scheme in vasp. See [this PR](https://github.com/bjmorgan/vasppy/pull/7).

[2018-11-09 18:20] lucydot commented on #9
The Vasp documentation [here](http://cms.mpi.univie.ac.at/vasp/guide/node124.html) only mentions negative occupancies when using the MP scheme; @yw-fang are you finding negative occupancies using gaussian smearing?

If negative occupancies are only found for the MP scheme, I think raising a warning in `effmass` when there are negative occupancies will suffice (as the MP scheme is not recommended f

[2018-11-10 15:38] bjmorgan commented on #9
A note that `vasppy` will now issue a warning by default if it reads a `PROCAR` file with negative occupancies (version 0.4.0.9).

See https://github.com/bjmorgan/vasppy/pull/7

[2018-11-11 13:30] yw-fang commented on #9
@lucydot

For myself, I haven't found negative occupancy calculated by tetrahedron method. However, as said by the admin of the vasp forum, such a case may exist, and those negative occupancies can be removed by using a proper SIGMA of Gaussian method instead of the tetrahedron method. (please see
 http://cms.mpi.univie.ac.at/vasp-forum/viewtopic.php?t=12532)

By the way, is current effmass code a

[2018-11-12 16:21] lucydot commented on #9
I've also added a warning when there is negative occupancy, and `effmass` will automatically set negative occupancies to zero.

@yw-fang `effmass` is designed for use with semiconductors, but can be adapted for use for other materials (with care, as it hasn't been designed with this in mind). `effmass` determines the band structure extrema (VBM/CBM) from occupancy, assuming that the material is a

[2018-11-16 14:17] #9 closed

[2019-03-20 15:19] lucydot opened #12 "Reword documentation"
Function docstring for `analysis._fermi_function()` could be improved: at the moment it is not clear if the probability refers to the probability of the valence band being occupied by an electron or a hole.

[2019-03-20 15:21] lucydot opened #13 "Fix Link"
Fix Link to effective mass PRB paper in documentation.

[2019-05-16 13:00] jnluy opened #14 "TypeError: list indices must be integers or slices, not tuple"
The test failed on a new installation of effmass on Python 3.6.

[2019-05-16 14:10] lucydot commented on #14
Hello, thanks for flagging this up - can you give me a couple of more details so I can trace the problem - which test failed?

[2019-05-17 08:31] jnluy commented on #14
Hi. I made a fresh install of python 3.6.8. And then followed the
instructions in the readme.

pip3 install --user effmass

python3 -m pytest

The error log is attached. The same happens for python3.7.

Am Do., 16. Mai 2019 um 16:11 Uhr schrieb Lucy Whalley <
notifications@github.com>:

[2019-05-17 09:20] lucydot commented on #14
Hello, I'm afraid the error log isn't attached - I think you will need to log into github and drag and drop the file (https://help.github.com/en/articles/file-attachments-on-issues-and-pull-requests). Automated testing of effmass happens [here](https://travis-ci.com/lucydot/effmass), and it seems to be passing all tests, so I'm a little stumped why it is failing for you - might be something system

[2019-05-17 10:15] jnluy commented on #14
[err.log](https://github.com/lucydot/effmass/files/3190989/err.log)

[2019-05-17 19:37] bjmorgan commented on #14
This looks like it might be an issue introduced by a recent change to the `vasppy` API, which is used to parse the `PROCAR` files. If so, it should be fixed in this pull request: https://github.com/lucydot/effmass/pull/15

[2019-05-18 15:55] lucydot commented on #14
Hi, thanks @bjmorgan for submitting the PR request - this has been merged with `effmass`, and I have made a new release (v1.1.0) which should now be available through PyPI. @jnluy if you update `effmass` via pip it should pass all tests 🤞

[2019-05-18 15:55] lucydot commented on #14
Once you confirm the problem is fixed @jnluy I'll close the issue - thanks again for flagging it up.
-Lucy

[2019-05-21 08:53] jnluy commented on #14
pytest still fails, but with another error now
[err2.log](https://github.com/lucydot/effmass/files/3201603/err2.log)

[2019-05-21 09:00] bjmorgan commented on #14
The error log appears to show the old version of `effmass`. Can you please check what version you have installed using `pip list`?

[2019-05-21 09:44] jnluy commented on #14
You are right. I was sitting in the wrong folder when calling pytest. Thank you for the quick fix!

[2019-06-17 17:32] smheidrich opened #16 "Question / potential feature request: obtain band structure from vasprun.xml instead of PROCAR"
Perhaps this is a stupid question (sorry if it is), but is it really required to have a ``PROCAR`` file (only obtained if one runs VASP with ``LORBIT = 11``) to obtain the full band structure? pymatgen [is able to parse it from ``vasprun.xml``](https://pymatgen.org/pymatgen.io.vasp.outputs.html#pymatgen.io.vasp.outputs.BSVasprun) without the user having to run VASP with any additional parameters,

[2019-06-17 18:13] lucydot commented on #16
Not a stupid question at all - this would make a lot of sense for the reasons you outline. The only reason it isn't implemented is because I haven't had the time to do so (and `effmass` should make much more use of the excellent pymatgen library). I'm in the middle of thesis writing, so can't take on any feature requests until August/September time when thesis handed in - I'll label the issue as e

[2019-06-17 18:19] lucydot commented on #14
Thanks to PR #15 from @bjmorgan the latest versions of `vasppy` and `effmass` are now compatible with each other and so I am closing this issue.

[2019-06-17 18:19] #14 closed

[2019-06-17 21:43] smheidrich commented on #16
Excellent, thank you very much & good luck with your thesis!

[2019-06-20 21:49] hududed opened #17 "Inputs doesnt read VASP OUTCAR PROCAR"
Hi

I am trying to follow your jupyter demo and gave this input:
[code]

but got this error:
[code]

The OUTCAR and PROCAR files were taken from effmass/tests/data Ge_SP_OUTCAR and Ge_SP_PROCAR.

Are there working sample files that I can try? Please advise.

[2019-06-21 11:12] lucydot commented on #17
Hello @hududed,

- Could you try reading in the colinear (cl) or spin-orbit-coupling (soc) `OUTCAR` and `PROCAR` files from the `effmass/tests/data` folder, to see if we can isolate the problem to the spin-polarised case?
- Tests for reading in spin-polarised are passing on Travis here: https://travis-ci.com/lucydot/effmass - can you tell me which version of effmass you are using? support for spin

[2019-06-21 16:50] hududed commented on #17
Okay, both cl and soc that you mentioned worked. Thanks.
I am currently using the latest v1.0.1.

Now, I am reading from PROCAR of a 2D material e.g. graphene unit cell, but this warning comes up:
[code]
which (I assume) then generates an empty segment fields from `segments = extrema.generate_segments(settings,data)`

Are the negative occupancies set to zero the problem?

-Hud

[2019-06-21 17:01] #17 closed

[2020-04-17 00:34] grayfaraday opened #19 "Use of effmass with quantum espresso input"
Is there a known pathway to use effmass with quantum espresso data? If not, is there any potential for this functionality in the future?

[2020-04-29 11:31] lucydot commented on #19
Hello, there is not at the moment - it only reads in vasp output. The vasp output is parsed in the [`Data` class of the `inputs` module](https://github.com/lucydot/effmass/blob/f0bb559061ea9b3ad081913ac2eed37b11c42786/effmass/inputs.py#L66), so extending for quantum espresso (QE) should be relatively straight forward - an equivalent class for QE could be written. I'm on maternity leave this year a

[2020-04-29 11:35] lucydot opened #20 "Use effmass with AIMS"
Integrate the code written by @matthiasgolomb [here](https://github.com/MatthiasGolomb/effmass/commit/94a466be9f54174d5d3de4f799a1803909783b32) with this repository so that effmass can be used with Vasp and AIMS.

[2020-12-21 16:03] rightsuman opened #22 "partial occupancies error"
Hi Lucy,
I am currently using your code effmass for my research and have faced an error which I haven't been able to solve. I am not very versed with using python so pardon me for stupid questions.
So actually the error comes as "You have partial occupancy numbers in Data.occupancy ....... You should check  that the attributes Data.VBM, Data.CBM and Data.fermi_energy are correct, and if not, set t

[2020-12-22 19:14] lucydot commented on #22
Hello,

I'm a little stumped as to why you are getting that error with the example provided in the repo as the example OUTCARs do not have partial occupancy. I'm assuming that you are also reading in the example data I have provided rather than providing your own?

I've just tried to replicate your error but am unable to. Please could you -

a) tell me how you downloaded effmass (straight from git

[2020-12-26 09:43] rightsuman commented on #22
Hello,
So actually you got my context a bit wrong. I was using your example jupyter notebook code for my own calculation of effective mass. This is where I am getting the error and want to know how these parameters can be changed. I have tried for other materials and its working fine where the band gap is a bit larger.
For your informatiion:
a) I downloaded straight from Github and installed there

[2020-12-26 11:51] lucydot commented on #22
Hi,

Ok that makes more sense. If there is a small band gap then it is possible there are partial occupancies and the code is correct to flag this up.

- First, check to see the attributes Data.VBM, Data.CBM and Data.fermi_energy are what you would expect for your system.

- If not, you should be able to re-assign correct values directly. For example (using the example in the notebook), if you hav

[2021-01-13 09:12] wulijixxx opened #23 "How to select segments"
Hi Lucy,
I have a problem when using your code for my DFT analysis. I can't select a certain segment when I prefer to calculate effective mass along some certain directions in K-paths. I have tried to change the value of "extrema_search_depth" and "energy_range", but it doesn't work. It would be so great if you can give me some advices. Thanks very much.

Sincerely,

Wuliji

[2021-01-20 22:39] lucydot commented on #23
Hello Wuliji,

Sure - I'll take a look. Could you share your input files and the Jupyter Notebook / code you are using, telling me on which line(s) you don't get the result you expect?

Lucy

[2021-01-21 03:12] wulijixxx commented on #23
OK, thanks very much. I will send them to you by email just for a moment.

[2021-01-21 12:57] lucydot commented on #23
I'd prefer if you could upload to github?
This way our discussion can be followed by other people -
Lucy

On Thu, Jan 21, 2021 at 3:12 AM wulijixxx <notifications@github.com> wrote:

[2021-01-21 13:27] wulijixxx commented on #23
Of course, thank you so much. #
![segments_all](https://user-images.githubusercontent.com/57491512/105356834-dfec7a00-5c2e-11eb-806c-8932d0733cf2.png)
[emass_calc.txt](https://github.com/lucydot/effmass/files/5849571/emass_calc.txt)

[input_files.zip](https://github.com/lucydot/effmass/files/5849580/input_files.zip)

[2021-01-21 13:33] wulijixxx commented on #23
My problem is how to get the information of the more flatter band (at the right side of segment2 in the picture above). I have tried to alter the parameters of "extrema_search_depth" and "energy_range", but it didn't work. If you can teach me how to handle it, I'll be very grateful for you.

[2021-01-21 13:35] wulijixxx commented on #23
My problem is how to get the information of the more flatter band (at the right side of segment2 in the picture above). I have tried to alter the parameters of "extrema_search_depth" and "energy_range", but it didn't work. If you can teach me how to handle it, I'll be very grateful to you.

[2021-01-26 18:32] lucydot commented on #22
Hello @rightsuman can I close this issue? Has it been resolved?

[2021-01-26 18:58] lucydot commented on #23
Hello @wulijixxx  *I think* the problem might be because you have the same kpoint repeated at each of the special points in k-space (0.5,0,0 and 0,0,0 and 0,0,0.5 and 0.5,0,0.5). Ideally the code would handle this but I haven't got time in the next couple of weeks to sort it out. A workaround might be to manually remove the repeated`data.kpoints` and corresponging `data.energies` and `data.occupan

[2021-02-22 00:40] wulijixxx commented on #23
OK. I will have a try. Thanks a lot.

[2021-03-08 21:31] lucydot commented on #20
Just released version 1.0.3 with this feature

[2021-03-08 21:31] #20 closed

[2021-03-08 21:33] lucydot opened #24 "Effmass interface with ASE"
Interface effmass for use with Castep. As requested by Devendra Tiwari at University of Northumbria.

[2021-03-08 21:38] lucydot opened #25 "Effmass command line interface"
Create a CLI for the most basic (and probably commonly used) analysis:  a parabolic effective mass for each maxima/minima within a certain energy range. Could print out: start point of segment, end point of segment, least squares effective mass, finite difference effective mass. One command for each calculator type: `effmass-vasp`, `effmass-aims`, `effmass-castep`. User would have to specify the f

[2021-03-08 21:40] lucydot opened #26 "Publications list"
There should be a publications list page which lists the publications that have used Effmass (3 listed on Google Scholar, + one from Matthias that has not been picked up as a citation for some reason)

[2021-03-08 21:42] lucydot commented on #22
Ok I'm closing this issue, feel free to re-open if problem not resolved

[2021-03-08 21:42] #22 closed

[2021-03-08 21:50] lucydot opened #27 "Effmass interface with Pymatgen"
Have Effmass interface with pymatgen. This should enable effmass to work with the various codes that pymatgen can parse (which doesn't include Castep, hence separate issue #24). I think this would fix issue #16 and #19 as pymatgen can work with vasprun.xml and Quantum-espresso (pwscf).

[2021-03-09 15:04] lucydot commented on #24
I'm going to write an interface for ASE. ASE has a bandstructure object that can be initialised from Castep output. It means that ASE is added a dependancy to effmass (increasingly code fragility), but the benefit is that many other codes that interface with ASE will be able to use effmass.

It looks like occupancy data is not accessible through ASE (or printed out in the Castep .bands file) and s

[2021-03-09 15:16] lucydot commented on #19
@grayfaraday, this is just to flag up that I am working on this request over at Issue #24 where I am writing an interface with the ASE bandstructure object. This object can be initialised with quantum espresso output.

I won't close this issue as I'll write a QE specific wrapper script so those that are not familiar with ASE do not need to use it as an intermediate step (hiding from the user that

[2021-03-09 19:53] lucydot commented on #19
@grayfaraday would it be possible to provide me with example bandstructure input/output files from Quantum Espresso? I don't use this software myself.

[2021-03-10 02:01] wulijixxx commented on #23
OK.Thanks very much. I will try it again and then contact you later.

发自我的iPhone

[2021-03-12 10:53] lucydot opened #28 "Update documentation"
The documentation has a basic tutorial workflow. However there should be some FAQs added:

- how to adjust the fermi level and update CBM/VBM (especially useful when there is no occupancy data)
- how to specify a particular band/k-point when the one you want is automatically found

Also change structure of documentation so that inputs section is extended to cover various DFT calculators.

[2021-03-15 18:01] lucydot opened #29 "Sort out dependencies"
Anyone who installs effmass automatically installs the dependencies for development (in particular, pytest for testing). I should fix this so that these are only installed if requested.

[2021-03-16 14:16] lucydot commented on #29
I should also specify what is used for linting (black) and that ipython is needed to run jupyter notebook examples locally.

[2021-03-16 16:58] lucydot commented on #26
This has been added in latest PR #32

[2021-03-16 16:58] #26 closed

[2021-03-16 16:59] lucydot commented on #25
This has been implemented (though with single "effmass" command) in PR #32

[2021-03-16 16:59] #25 closed

[2021-03-16 16:59] lucydot commented on #24
This has been implemented in PR #32

[2021-03-16 16:59] #24 closed

[2021-03-17 09:44] anovitzkij opened #33 "command line interface"
Hey, Lucy. Thank you for this great instrument. Today I was trying to run it via command line. I have performed installation using `pip install effmass` but when I try to run it I got `"effmass" is not recognized as an internal or external command`.
Maybe problem on my side, but other stuff seems to work fine.

[2021-03-17 11:53] lucydot commented on #33
Hello,
If you installed effmass before the CLI was introduced in version 2.0.0 you may need to `pip install --upgrade effmass`. The current version is 2.0.1 - let me know if you are still having problems running the CLI if you are running this version (`pip show effmass` will tell you which version you have). If there are problems it'd be good to know which OS you are using. Thanks - Lucy

[2021-03-17 12:38] anovitzkij commented on #33
Upgrade helped! Thank you so much!

Best wishes,
Andrei

[2021-03-18 12:18] lucydot commented on #29
Fixed and now committed to main branch

[2021-03-18 12:18] #29 closed

[2021-03-18 15:03] lucydot commented on #33
Hi @anovitzkij just a reminder that if you have used effmass in any scripts you will need to change `Data` to `DataVasp`. I did The Thing You Should Never Do and broke backwards compatability. But in the long run I think it will be worth it, and I do not think it is used too widely (yet :) ) Lucy

[2021-03-18 15:03] #33 closed

[2021-03-20 05:30] hongyi-zhao opened #34 "Quantum espresso support."
Could you please add quantum espresso support to this project?

Regards,
HY

[2021-03-22 11:05] lucydot commented on #34
Hello,

I will look into providing this via the ASE interface. Please can you provide me with the quantum espresso input (including crystal structure) and output files (including eigenstate energies, k-point path and fermi level data) for a bandstructure calculation? Ideally these would be for a well studied material (e.g. Si, GaAs) so that we can compare the calculated effective mass values to th

[2021-03-22 14:17] hongyi-zhao commented on #34
Before we do the further job, I want to know what's background theory employed in your code for obtaining the effective mass.

[2021-03-22 19:02] lucydot commented on #34
There are links to the related literature on the README. In particular, there is a link in the README to the paper published in PRB. Before starting jobs to generate the data, you can send me a single bandstructure dataset of any material, just so I can check to see if the data can be read in using ASE: I do not have the time to write a Quantum Espresso interface from scratch at the moment, so I a

[2021-03-23 01:00] hongyi-zhao commented on #34
Thank you very much for letting me know your key work and publication pertinent to this topic. Could you please let me spend some time studying your paper first, and then follow-up exchanges here?

[2021-03-23 08:41] lucydot commented on #34
Of course. Here is a good place for that exchange. Best, Lucy

[2021-03-23 11:56] lucydot commented on #23
Hi @wulijixxx how are you getting on? Is the issue fixed?

[2021-03-23 12:18] wulijixxx commented on #23
Not yet, I’m doing some other projects at these days, please wait for a while. I will contact you as soon as I finish them.

发自我的iPhone

[2021-03-30 15:01] lucydot opened #36 "Use the howfairis tool"
Use the howfairis tool to assess how F.A.I.R. the software is:

https://github.com/fair-software/howfairis

Could add this as a github action: https://github.com/marketplace/actions/fair-software

[2021-05-02 10:22] lucydot commented on #16
Hi @smheidrich you raised this a while ago, but just a quick update that the latest Pull Request (#37) has support for (multiple) `vasprun.xml` files. After some testing this will be pulled into the main branch in the next week or so.

[2021-05-02 20:34] smheidrich commented on #16
@lucydot Great, thanks! :+1:

[2021-05-13 10:52] ebirkan opened #38 "FHI-aims: IndexError: list index out of range"
Running effmass for FHI-aims output gives me following error:
[code]
How can I solve this problem?

[2021-05-17 08:54] lucydot commented on #38
Hi @ebirkan which version of effmass are you using - and did you install via pip or clone effmass from Github?

I believe that @MatthiasGolomb recently updated the version on the github Main branch so that it is compatible with recent changes to FHI-aims - @MatthiasGolomb do you know if your latest changes will fix the issue? If we think that this might fix the problem you are having then I will t

[2021-05-17 09:02] MatthiasGolomb commented on #38
This looks related to the kpath in the Brillouin zone - @ebirkan do you mind sharing your in- and output files?

[2021-05-18 09:43] ebirkan commented on #38
Hi @lucydot , I installed effmass 2.0.0 via pip.

Hi @MatthiasGolomb you can find input and output files here
[effmass.zip](https://github.com/lucydot/effmass/files/6500179/effmass.zip)

[2021-05-18 10:13] MatthiasGolomb commented on #38
It looks like the output format has changed, not sure if in general or for the MD_light output level - it now outputs the bands with tabs instead of simple whitespace. I will push a fix now, but @ebirkan if you don't want to wait you can change the tabs in the `output band` line to simple whitespace and it should work.

[2021-05-24 08:08] lucydot commented on #28
After some recent PR's I should also:
- update API documentation for Datavasprun
- Update Jupyter notebook example of reading in vasprun.xml

[2021-05-25 19:49] SUN123RAY opened #40 "AssertionError"
Hi

I am getting the following error. And what will be the command prompt if I want to select  specific band index and k-point index?

Welcome to effmass 2.0.0 🎈
? Which DFT code have you used to generate the bandstructure? Vasp
? What's the path to your Vasp output files? ./../band_gaino/
? How many k-points should I ignore at the start of the file? (useful for hybrid calculations) 0
? How far (i

[2021-05-31 22:15] #16 closed

[2021-06-10 13:57] MariaEstRo opened #41 "FHI-AIMS: ValueError"
Hello. Running effmass with FHI-AIMS (version 200112.2) outputs is giving me the following error:

Traceback (most recent call last):
  File "/usr/bin/effmass", line 8, in <module>
    sys.exit(cli())
  File "/home/esteve/.local/lib/python3.6/site-packages/effmass/cli.py", line 83, in cli
    data = inputs.DataAims(pathname)
  File "/home/esteve/.local/lib/python3.6/site-packages/effmass/inputs.py

[2021-06-14 10:59] ebirkan commented on #38
Hi. Any update regarding this issue? I still get the same error and changing all band files look like a big issue for me as I work with many systems.

[2021-06-14 11:09] MatthiasGolomb commented on #38
Have you downloaded the source code and installed it or are you working with the pip installed version still?

[2021-06-14 11:12] ebirkan commented on #38
I uninstalled and installed it again with pip

[2021-06-14 11:15] MatthiasGolomb commented on #41
Hi Maria, can you tell me which version you use, and whether you installed with via pip or source code? It would also be great if you could attach your in- and output files for me to recreate the error.

[2021-06-14 11:18] MatthiasGolomb commented on #38
Can you try cloning the repo and installing from source? I don't know whether Lucy has pushed the latest changes to pip yet

[2021-06-14 11:39] MariaEstRo commented on #41
Hello. I am using effmas 2.1.0 and I installed it via pip.
I attach my inputs and outputs files.
Thank you in advance.
[effmass_error.zip](https://github.com/lucydot/effmass/files/6647991/effmass_error.zip)

[2021-06-14 11:49] MatthiasGolomb commented on #41
I just ran your files and it worked for me, so I assume that it is related to issue #38 - the fix is pushed to the repo already, but not yet in pip it seems. Can you try to clone the repo and install from source and let me know if that works for you?

[2021-06-14 23:06] MariaEstRo commented on #41
Hello. Cloning the repo and installing from the source worked for me.
Thank you for your help.

[2021-06-15 07:16] MatthiasGolomb commented on #41
That's great to hear!

[2021-06-28 18:36] lucydot commented on #41
Thanks @MatthiasGolomb for the fix and @MariaEstRo for flagging the problem up. Apologies it has taken me a little time to update the changes on PyPI, but the latest version (2.2.0) is uploaded now, so this problem should be fixed with the latest version downloaded with `pip install effmass`. I'm closing the issue.

[2021-06-28 18:37] #41 closed

[2021-06-28 18:41] lucydot commented on #40
Dear @SUN123RAY. Can you confirm that there is a `PROCAR` file in the directory provided (`../band/gaino`)? If so, perhaps you can send me the vasp output files you are using and I will try on my machine.

[2021-06-28 18:41] lucydot commented on #40
ps, you should be able to upload the files via Github

[2021-06-28 18:44] lucydot commented on #38
Hi @ebirkan this problem has been fixed and is reflected in the latest version on pip. If you upgrade effmass (`pip install --upgrade effmass`) it should hopefully work. Please let us know if not.

[2021-06-28 18:45] lucydot commented on #38
I am closing the issue, please re-open if your problem is not fixed with the upgrade to effmass 2.2.0

[2021-06-28 18:45] #38 closed

[2021-08-10 13:40] ghost opened #45 "Extracting effective masses just for specific directions on VB and CB in a specific range on x-axis"
Hi,

I like to ask you something. Even though efmass works nicely, I'd like to extract effective masses for specific directions on VB and CB in the path GMKG. Since I work with hundreds of band structures, checking all band structures manually is really time-consuming. I'd appreciate your suggestions. I am using band structures generated with FHI-aims.

For example, I'd like to extract effective m

[2021-08-18 08:35] ajjackson opened #46 "Version number is hard-coded in welcome message"
The version number message isn't up-to-date with the release numbers.

https://github.com/lucydot/effmass/blob/dac39d404f2417ba0618c8b2183363698ffee69b/effmass/cli.py#L12

I suggest using something like versioneer to keep version numbers centralised.

(This was found by some ASE user/developers.)

[2021-08-18 09:46] lucydot commented on #46
Thanks for passing this on - I'll take a look at it later today/this week.

[2021-08-18 21:21] ghost opened #47 "inconsistent segments"
Hi,

I'm using effmass module to determine the effective masses of some layered materials. However, there is a problem that I could not find a solution yet. I'd appreciate your help and suggestions.

When I plot effective masses in different directions for different HfS2 bulk systems (optimized with different levels), efmass shows a segment that does not available in other plot. All band structure

[2021-08-31 10:59] lucydot commented on #47
Hi @ebirkan,

It looks that in your second plot the maxima has been shifted away from gamma and now sits along the G-M line - difficult to say without data but there could be a little "kink" in the G-M line. Effmass defines a maxima as a point with two lower energy points either side - it is no more clever than that!

If that is the case then effmass is working as expected (correct me if I'm wrong

[2021-08-31 12:23] lucydot commented on #45
Hi @ebirkan,

Thanks for flagging this potential feature up. When I designed effmass I didn't have high-throughput type calculations in mind - but I think with the direction that materials modelling is going, this might be a nice thing to consider now.

I will not be able to tackle this properly in the next few weeks (perhaps even months) but it shouldn't be too hard to implement a "calculate the

[2021-08-31 12:27] lucydot commented on #45
Also -  if you know the specific band index and k-point index at which you want to calculate the effective mass you can do that using [extrema.generate_segments](https://effmass.readthedocs.io/en/latest/extrema.html#effmass.extrema.generate_segments).

[2021-09-06 16:42] #46 closed

[2021-09-10 10:00] ebirkan commented on #47
Thanks for the comment and suggestions. I'll follow your suggestions

[2021-09-10 10:02] ebirkan commented on #45
Thanks for the comments and suggestions. It took a little time but I managed to look effective masses at these directions for systems I work.

[2021-09-30 09:46] heessaamm commented on #23
Hello, I have a problem when using effmass to calculate effective mass of my DFT data. effmass cant determine CBM in band structure and as a result there is no effective mass calculation for CBM. Here I attached the result of effmass calculation. can you help me with this problem?
Thank you

![effmass_45904](https://user-images.githubusercontent.com/91636487/135429279-969d99f9-61cc-4c32-9499-03f41

[2021-12-21 19:37] rightsuman opened #51 "Assertion Error"
Hi Lucy
I am getting this error. The calculation is HSE and the fermi level is inside the conduction band, but there is a gap before the same.
Can you tell me how to solve this?
I have used both the command line interface as well as your example notebook format. This error comes when I try to load the PROCAR and OUTCAR file. I have used pip for installation.
Reading in data...
Traceback (most rece

[2021-12-23 07:34] cai-xiaomeng commented on #27
Hi!

Does Effmass support supercell band data (band folding) processing?

I already do the band unfolding of supercell by using BandUp program, now how to use Effmass to deal with the unfolded band structure data?

[2022-01-10 08:15] lucydot opened #52 "Compatability with BandUP"
(From Issue #27, @cai-xiaomeng)

Hi!

Does Effmass support supercell band data (band folding) processing?

I already do the band unfolding of supercell by using BandUp program, now how to use Effmass to deal with the unfolded band structure data?

[2022-01-10 08:15] lucydot commented on #27
Hi @cai-xiaomeng -

I've created a new issue for this as your question is not related to an effmass interface with pymatgen - the issue is here: #52

[2022-01-10 08:23] lucydot commented on #52
Hello @cai-xiaomeng,

I haven't seen the format of the output from BandUp, but I expect not (unless BandUp outputs files in the form of an OUTCAR or one of the other DFT codes that effmass supports).

It may not be difficult to write an interface to BandUp. If you think this would be useful (that you would use the code), please send me across some output files I will take a look at them - Lucy.

[2022-01-10 08:25] lucydot commented on #51
Hi @rightsuman -

Can you send me the files you are using as input?

[2022-01-26 10:59] alexey-krasnov commented on #51
Dear Lucy!
I got the same error as @rightsuman, could you please explain, why this error occurs?

[2022-02-17 15:10] Murari29 commented on #45
@ebirkan how did you final got through this? Because I am new to this package and facing same issue as you were facing. I am also unable to find the effective mass for particular direction.
Thank you

[2022-02-22 15:25] lucydot commented on #51
Hi @rightsuman just pinging you again - if I don't receive the input files in the next couple of weeks I'll close the issue (feel free to open another one in the future).

[2022-02-22 15:29] lucydot commented on #40
Hi @SUN123RAY did you solve the issue you were having - can I close this issue?

To select a specific band index and k-point you need to use the Python API - it is not an option in the CLI.

[2022-02-22 15:33] lucydot commented on #23
Hi @heessaamm -

It looks to me that the CBM has been found (maxima on pink line at around 0ev?).

[2022-03-29 11:00] MariaEstRo opened #53 "Segment selection"
Hi,
I'm using effmass with FHI-AIMS inputs/outputs and I would like to extract the effective mass for specific segments.
I am aware there is an option called "extrema.generate_segments" that performs that task.
However, I'm struggling with this since I don't know how to use the argument "bk" properly.
Could you, please, provide some examples using the "extrema.generate_segments" option with the bk

[2022-04-06 08:04] haseeb0111 commented on #19
Regards,
Haseeb

[2022-07-12 02:50] isabelmoib opened #54 "effmass"

[2022-10-17 14:40] akentphonon opened #55 "bk option in effective mass"
Dear Lucy,

Thank you for this nice code.

As reported by several other users I am also having issue where effmass does not locate correct CBM. I was playing with the bk options in  effmass.extrema.generate_segments but unforunately I can.t get it working.

Below is how i am calling it. I am interested in effective mass of band #20, and K-point 40

segments = extrema.generate_segments(settings, da